header{
   border: solid 2px;
   border-color: black;
   }
   #barra {
       margin-right: 0px ;
       padding-left: 30px;
   }
   #searching{
      flex-direction: row;
   }
   #sech {
      width: 100%;
   }
   #botonbuscar{
      width: 100%;
      margin: 0 !important;
   }
   #logo{
   margin-left: 10px;
       width: 40px;
       height:40px;
   }
   nav{
   height: 60px;
   }
   
   .lol{
    margin-right: 10px;
   }
   .titulo{
     text-align: center;  
     font-size: 25px;
   }
   .botonesRegistro .nav-item{
      float: right;
   }
   .botonesRegistro form{
      flex-direction: row;
      justify-content: center;
   }
   


.jumbotron-fluid{
   background-color: rgb(15, 15, 15);
   margin: 2em 5em 1em;
   width: 85%;
}

iframe{
   width: 100%; 
   height: 27em !important;
}

#descripcion{
   padding-left: 5.8em;
}

#tituloVideo{
   background-color: rgb(20, 19, 19);
   padding: 0;
}

#tituloVideo h1{
   width: 100%;
   font-size: 2em;
}
#descripcion h2{
   font-size: 1.5em;
   width: 100%;
}
#descripcion p{
   width: 100%;
}
#footer{
   background-color: rgb(37, 37, 36);
}

#footer button{
   margin: .5em 26em;
   height: auto;
}

/*botones like*/

textarea{
   margin: -.5em 0;
   resize: none;
   color: whitesmoke;
   text-align: center;
}

/* slide*/
